/* ......font-family: Poppins.......*/

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}

/* ......font-family: Roboto.......*/

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/* ......font-family: Ubuntu.......*/

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}